.user {
  display: flex;
  align-items: center;
  margin: 15px auto;
  background: #f8f8f8;
  border-radius: 4px;
  padding: 10px;
  &:hover {
    box-shadow: 5px 5px rgb(179, 179, 179);
  }
  &__image {
    width: 45px;
    height: 45px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }
  &__actions {
    margin-left: auto;
    align-self: flex-start;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  &__delete-icon {
    &:hover {
      cursor: pointer;
    }
  }
}